{% extends 'Login/index.html' %}

{% block content %}

        <!------------------- login form -------------------------->

<div class="login-container" id="login">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="top">
            <header>Login</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Username" name="username">
            <i class="bx bx-user"></i>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" name="user_password">
            <i class="bx bx-lock-alt"></i>
        </div>
        <div class="input-box">
            <input type="submit" class="submit" value="Sign In" name="sign_in">
        </div>
        <div class="two-col">
            
            <div class="two">
                <label><a href="{% url 'password_reset' %}">Forgot password?</a></label>
            </div>
        </div>
        
    </form>
</div>
{% endblock content %}
