<!-- registration/password_reset_done.html -->

{% extends 'Login/index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
      .new-password-container {
          background-color: rgba(255, 255, 255, 0.8);
          padding: 40px;
          border-radius: 8px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.928);
          width: 600px;
          text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="new-password-container">
      <h1>Password reset sent</h1>
      <h3>If your email is already registered...</h3>
      <p>We've emailed you instructions for setting your password. If you don't receive the email, check your spam folder or <a href="{% url 'password_reset' %}">try again</a>.</p>
      <p>After successfully resetting password please to <a href="{% url 'login' %}">login</a>.</p>
    </div>
  </body>
</html>
{% endblock content %}

